body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

button {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
